@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>


<div class= "cointainer">



    @* <div class="wrap-container">
        <div class="mx-auto">
            <img src="https://c4.wallpaperflare.com/wallpaper/592/438/390/ask-blackboard-chalk-board-chalkboard-wallpaper-thumb.jpg" class="image-container" alt="foto van een vraagteken">
        </div>
    </div> *@


    <div class="container mt-5">

        <div class="row">
            <div class="col">
                <h2>Hoe meld ik mij aan</h2>
                <p>
                        Om jezelf aan te melden moet je aan enkele voorwaarden voldoen. 
                        Zo moet je een verwijzingsbrief van je huisarts hebben en 16 jaar of ouder zijn. 
                        Hiernaast moet je je aandoeningen aangeven, een behandelaar kiezen met wie je de intake wilt hebben en gelijk een datum vaststellen.
                        <br></br>
                        Ben je jonger dan 12 jaar dan moet de aanmelding door je ouder met gezag of voogd gedaan worden. 
                        Ben je tussen 12 jaar en 16 jaar oud dan kan de aanmelding alleen gedaan worden met de toestemming van jezelf en die van je ouder/voogd.  
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h2>hoe bereid je je voor op dat spannende eerste gesprek?</h2>
                <p>
                    Bij je eerste gesprek zullen wij jou een paar vragen stellen. 
                    Het is handig als je alvast goed nadenkt over deze vragen. 
                    Dit helpt ons en jou beter de oorzaak van jouw probleem te vinden.
                    <br></br> 
                    Denk aan vragen zoals; Hoelang je de klachten al hebt? Waar denk jij dat de oorzaak ligt? 
                    Gebruik je medicijnen? Hoe reageren jouw vrienden hierop? Voorbeelden van situaties waarin je tegen problemen aanloopt. 
                    Je mag het opschrijven, maar dit hoeft niet perse.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Hoe kan ik chatten met mijn hulpverlener?</h2>
                <p>
                    Na het Intakegesprek maakt de hulpverlener een account aan voor je en stuurt hij je hierna een email zodat je een wachtwoord kan aanmaken voor je account.  
                    Nadat je dit hebt gedaan heb je toegang tot je account. 
                    Met je Account kan je chatten met je hulpverlener. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Hoe kan ik deelnemen aan een groep chat?</h2>
                <p>
                    Je kan uit een selectie van meerdere groepen kiezen waar jij je voor in wilt schrijven. 
                    Mocht jouw groep niet bestaan, dan kun je aan je orthopedagoog verzoeken deze aan te maken.
                    Wanneer een hulpverlener de zelfhulpgroep aanmaakt is er een tijdslot. 
                    Je kan jezelf binnen dit tijdslot inschrijven voor de groep.
                    <br></br>
                    Als je jonger dan 16 jaar bent met een ouder/voogd volgt er een toestemmingsronde voordat je kan meedoen. 
                    Indien er geen toestemming verleend wordt door je ouder/voogd, ontvangen zowel jij als de hulpverlener hiervan een melding. 
                    Als je ouder dan 16 bent krijg je automatisch toegang.
                </p>
            </div>
        </div>
        <br></br><br></br>
    </div>

</div>

