@{
    ViewData["Title"] = "Home Page";
}

<div class="container-banner mt-5">
  <div class="wrap-container mt-5">
      <div class="mx-auto">
          <img src="https://d37edykxywilfy.cloudfront.net/mirage/52290?w=1920&h=1080&fit=crop-49-86&s=788a6f17b85496e2fe5888f781591426" class="image-container" alt="foto van een vrouw en dochter die spelen in het sneeuw">
          <div class="overlay">
              <div class="card bg-white opacity-100">
                  <div class="card-body">
                      <h1>Welkom bij <br />Zorg Maatschap Den Haag</h1>
                      <h2></h1>
                      <p>Vragen of een afspraak in plannen? Neem dan nu contact op:</p>
                      <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Contact"><b style="color: #000">Contact ></b></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Opzoek naar een oplossing</h2>
      <p>
        Maakt u zich zorgen om uw kind? Vermoed u een stoornis?
        Onze specialisten kunnen een kijkje nemen naar uw kind. 
        Met specialisaties in vele verschillende stoornissen zoals; 
        eetstoornissen, ADHD, angsten, dyslexie en veel meer
        kunnen wij uw kind helpen het beste van zijn of haar leven
        te maken.
      </p>
    </div>
    <div class="col">
      <img src="https://www.rocfriesepoort.nl/sites/default/files/styles/hero_content_large/public/2019-06/Gespecialiseerd%20pedagogisch%20medewerker%20-%20shutterstock.jpg?itok=IIz0CYXH" class="img-fluid img-thumbnail" alt="Pedagogiek-photo">
    </div>
  </div>
</div>
<br><br><br>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <img src="https://hu.imgix.net/https%3A%2F%2Fwww.hu.nl%2F-%2Fmedia%2Fhu%2Fafbeeldingen%2Fimages%2Fdeeltijd%2Ffotoipvvideo%2F20180605_e8a0377_alg_overleg-extrafoto.ashx?q=55&fit=crop&crop=faces&dpr=1&auto=format&w=760&s=52c647337ffddcf23bd178021618c0c5" class="img-fluid img-thumbnail" alt="Individu-photo">
    </div>
    <div class="col">
        <h2>Vertrouwen</h2>
        <p>
          Bij ZMDH ligt de focus op vertrouwen. Vertrouwen in 
          zowel band als omgang met informatie. Wij willen dat
          onze cliënten een goede band kunnen hebben met onze 
          hulpverleners. Ook zorgen wij ervoor dat alle privacy 
          gevoelige informatie streng beveiligd is.
          Zo bouwt ZMDH vertrouwen op. 
        </p>
    </div>
  </div>
</div>

<div class="container footer-image">
  <div class="wrap-container mt-5">
      <div class="mx-auto">
          <img src="https://www.vdab.be/varia/opleidingen/sectie/header-9006.jpg" class="image-container" alt="Gathering-photo">
          <div class="overlay">
              <div class="card bg-white opacity-100">
                  <div class="card-body">
                      <h2>Onze deskundigen hebben al meer dan 10 jaar ervaring!</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<style>
  .btn-primary {
      background-color: #DCC8C8 !important;
      border-color: #DCC8C8;
  }

  .wrap-container {
      position: relative;
      color: white;
  }

 .container-banner {
    top: 0px;
 }

 .image-container {
      width: 99.7vw;
      position: relative;
      left: 50%;  
      margin-left: -50vw;
      object-fit: cover;
      height: 400px;
      filter: brightness(70%);
    }

 .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
  .card {
      color: black;
      opacity: 85%;
  }
</style>