@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap-container">
    <div class="mx-auto">
        <img src="https://w.wallhaven.cc/full/9m/wallhaven-9mkydk.jpg" class="image-container" alt="Doctor-photo">
        <div class="overlay">
            <h1>Welkom bij</h1>
            <h2>Zorg Maatschap Den Haag</h1>
            <p>Vragen of een afspraak in plannen? Neem dan nu contact op:</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Contact"><b style="color: #000">Contact ></b></a>
        </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Pedagogiek</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
          culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col">
      <img src="https://www.rocfriesepoort.nl/sites/default/files/styles/hero_content_large/public/2019-06/Gespecialiseerd%20pedagogisch%20medewerker%20-%20shutterstock.jpg?itok=IIz0CYXH" class="img-fluid" alt="Pedagogiek-photo">
    </div>
  </div>
</div>
<br><br><br>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <img src="https://hu.imgix.net/https%3A%2F%2Fwww.hu.nl%2F-%2Fmedia%2Fhu%2Fafbeeldingen%2Fimages%2Fdeeltijd%2Ffotoipvvideo%2F20180605_e8a0377_alg_overleg-extrafoto.ashx?q=55&fit=crop&crop=faces&dpr=1&auto=format&w=760&s=52c647337ffddcf23bd178021618c0c5" class="img-fluid" alt="Individu-photo">
    </div>
    <div class="col">
        <h2>Gericht op het individu</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
  </div>
</div>

<style>
    .btn-primary {
        background-color: #DCC8C8 !important;
        border-color: #DCC8C8;
    }

    .wrap-container {
        position: relative;
        color: white;
    }

 .image-container {
    width: 100vw;
    position: relative;
    left: 50%;  
    margin-left: -50vw;
    object-fit: cover;
    height: 400px;
    filter: brightness(50%);
 }

 .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
</style>