@{
    ViewData["Title"] = "Klachten procedure";
}
<h1>@ViewData["Title"]</h1>

<p> We doen altijd ons best om alles zo goed mogelijk uit te voeren. Maar dit betekent niet dat er 
    misschien zaken zijn waarmee je het als ouder of kind niet mee eens bent. Als dit het geval is 
    kan je een klacht indienen. Dit doe je door een mail te sturen naar <a href="mailto:klacht@ZMDH.nl" alt="zmdh klachten email, klacht apenstaartje zdmh punt n l">klacht@ZMDH.nl</a>.
    <br /><br />
    De klacht wordt dan opgepakt en u krijgt dan binnen 2 tot 3 werkdagen een reactie hierop. 
    We komen dan met een oplossing en hopen u hiermee verder te helpen met hetgeen waar u ontevreden over bent. 
</p>
