@{
    ViewData["Title"] = "Over ons";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <p> ZMDH geeft hulp aan ieder kind en ouder die dat goed kan gebruiken. Dit noemen wij pedagogische of psychologische hulp. 
        Wij zien allemaal verschillende kinderen en ouders. Zowel face to face in de praktijk als online via videobellen of chat. 
        Sommigen hebben maar een klein zetje nodig. Andere kinderen of jongeren zien wij iets vaker of langer.
    <br /><br />
        Ouders zijn voor ons belangrijk in het geheel. Dit betekent dat ouders die ons vragen willen stellen over de ontwikkeling 
        van hun kind bij ons terecht kunnen voor zowel diagnostiek (onderzoek) als behandeling of begeleiding.
    </p>

    <h2>Aandag</h2>
    <p>We geven het kind alle aandacht die ze nodig hebben om hen te helpen.</p>

    <h2>Betrouwbaarheid</h2>
    <p>Wij zijn open en transparant over welke gegevens wij verwerken en werken volgens de AVG wet.</p>

    <h2>Inzet </h2>
    <p>Wij van ZMDH helpen uw kind op de juiste manier die perfect past bij de therapiemethode die hem/haar wordt aangewezen. </p>
</div>
