@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang afgewezen";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Jij hebt geen toegang hiertoe.</p>
</header>
