@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
    Controleer uw email om uw wachtwoord te herstellen.
</p>

