body {
    font-family: Arial;
    font-size: 10pt;
}

* {
    box-sizing: border-box;
}

.open-button {
    background-color: #0090CB;
    color: white !important;
    background-color: #c9b3b3 !important;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 100px;
}

.send {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #0090CB;
}

    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
    }

        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }

    .form-container .btn {
        background-color: #DCC8C8;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    .form-container .cancel {
        background-color: red;
        cursor: pointer;
        color:white;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    .btn.btn-rounded {
        border-radius: 50px
    }
    .container {
        margin-top: 100px
    }










    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    body {
        background: #EEEEEE;
        font-family: 'Roboto', sans-serif
    }
    
    .card {
        width: 300px;
        border: none;
        border-radius: 15px
    }
    
    .adiv {
        background: #DCC8C8;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 12px;
        height: 46px
    }

    .adivbox {
        background: white;
        font-size: 12px;
        
    }
    
    
    .chat {
        border: none;
        background: #E2FFE8;
        font-size: 10px;
        border-radius: 20px
    }
    
    .bg-white {
        border: 1px solid #E7E7E9;
        font-size: 10px;
        border-radius: 20px
    }
    
    .myvideo img {
        border-radius: 20px
    }
    
    .dot {
        font-weight: bold
    }
    
    .form-control {
        border-radius: 12px;
        border: 1px solid #F0F0F0;
        font-size: .875rem;
    }
    
    .form-control:focus {
        box-shadow: none
    }
    
    .form-control::placeholder {
        font-size: .875rem;
        color: #C4C4C4
    }















                        

 .portlet {
    margin-bottom: 15px;
}

.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}

.portlet {
    border: 1px solid;
}

.portlet .portlet-heading {
    padding: 0 15px;
}

.portlet .portlet-heading h4 {
    padding: 1px 0;
    font-size: 16px;
}

.portlet .portlet-heading a {
    color: #fff;
}

.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
    outline: none;
}

.portlet .portlet-widgets .dropdown-menu a {
    color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}

.portlet .portlet-heading .portlet-title {
    float: left;
}

.portlet .portlet-heading .portlet-title h4 {
    margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
    display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 5px;
}

.portlet .portlet-body {
    padding: 15px;
    background: #fff;
    
}

.portlet-body::-webkit-scrollbar {
    display: none;
}

.sendbox{
    background-color: #DCC8C8;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}

.userInputLabel {
    background-color: transparent;
    border: none;
    color: white;
    font-family: sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
.portlet-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.portlet .portlet-footer {
    padding: 10px 15px;
    background: #e0e7e8;
}

.portlet .portlet-footer ul {
    margin: 0;
}

.portlet-green,
.portlet-green>.portlet-heading {
    border-color: #16a085;
}

.portlet-green>.portlet-heading {
    color: #fff;
    background-color: #16a085;
}

.portlet-orange,
.portlet-orange>.portlet-heading {
    border-color: #f39c12;
}

.portlet-orange>.portlet-heading {
    color: #fff;
    background-color: #f39c12;
}

.portlet-blue,
.portlet-blue>.portlet-heading {
    border-color: #2980b9;
}

.portlet-blue>.portlet-heading {
    color: #fff;
    background-color: #2980b9;
}

.portlet-red,
.portlet-red>.portlet-heading {
    border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
    color: #fff;
    background-color: #e74c3c;
}

.portlet-purple,
.portlet-purple>.portlet-heading {
    border-color: #8e44ad;
}

.portlet-purple>.portlet-heading {
    color: #fff;
    background-color: #8e44ad;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    border-color: #34495e;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    color: #fff;
    background-color: #34495e;
}

.portlet-basic,
.portlet-basic>.portlet-heading {
    border-color: #333;
}

.portlet-basic>.portlet-heading {
    border-bottom: 1px solid #333;
    color: #333;
    background-color: #fff;
}

@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}

.img-chat{
width:40px;
height:40px;
}

.text-green {
    color: #16a085;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}           