<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZMDH_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<style>
    .wrap-container {
        position: relative;
        @* color: white; *@
    }

    @* .header {
        height: 0px;
    } *@

    .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    @* .main {
        top: 0px;
        position: relative;
    } *@

    .footer {
        background-color: #DCC8C8;
        display: inline-block;
        height: 100px;
        position: absolute;
        bottom: 0px;
    }

    footer li a {
        color: black;
    }


    nav {
        background-color: #DCC8C8;
    }
    
</style>

<body>
    <div class="header">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ZMDH_WebApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OverOns">Over ons</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Entry" asp-action="Create">Aanmelden</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQs</a></li>
                            </ul>
                        </div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
                
            </nav>
        </header>
    </div>

    <div class="main h-100">
        <div class="container">
            <main role="main" class="container-fluid">
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="footer">
        <footer>
            <ul class="nav inline-block justify-content-center text-black">
                <li class="nav-item"><a class="nav-link px-4 block" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link px-4 block" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link px-4 block" asp-area="" asp-controller="Home" asp-action="OverOns">Over ons</a></li>
                <li class="nav-item"><a class="nav-link px-4" asp-area="" asp-controller="Home" asp-action="FAQ">FAQs</a></li>
                <li class="nav-item"><a class="nav-link px-4 block" asp-area="" asp-controller="Entry" asp-action="Create">Aanmelden</a></li>
                <li class="nav-item"><a class="nav-link px-4 block" asp-area="" asp-controller="Home" asp-action="Klachten">Klachten</a></li>
            </ul>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>